<form action="/salvar/arquivo" method="post" enctype="multipart/form-data" class="w-75 mt-5 mx-auto d-flex">
    <div class="input-group mb-3">
        <label class="input-group-text" for="identificador">identificador</label>
        <input type="text" class="form-control" id="identificador" name="identificador">
        <input type="file" class="form-control" id="file" name="file">
    </div>
    <input type="submit" value="salvar" class="btn btn-primary mx-3 h-25">
</form>